body {
	font-size: 0;
	/* remove the white space between each of the columns in the middle*/
}

header, footer {
	background-color: red;
	width: 700px;
	height: 70px;
	margin: 20px 0px;
}

.column {
	display: inline-block;
	width: 233.3px;
	height: 500px;
}	

#left {
	background-color: blue;
	padding-right: 182px;	
}
#right {
	background-color: yellow;
	padding-right: 50px;
}

#left #column1 {
	width: 50px;
	height: 50px;
	background-color: rebeccapurple;
}

#middle #column2 {
	width: 50px;
	height: 50px;
	background-color: orange;
}

#right #column3 {
	width: 50px;
	height: 50px;
	background-color: green;
}
